
//COLORI PRIMARI
$colore-primario-rosso: hsl(0, 100%, 74%);
$colore-primario-verde: hsl(154, 59%, 51%);

//COLORI SECONDARI
$colore-secondario-blue: hsl(248, 32%, 49%);

//COLORI NEUTRAL
$colore-neutral-bluScuro: hsl(249, 10%, 26%) ;
$colore-neutral-bluChiaro: hsl(246, 25%, 77%);

